# Node
node_modules/
node_modules_old/
.npm
.npm-cache/
.pnpm-debug.log*
.yarn-debug.log*
.yarn-integrity*
.yarn-release-tag*
.next
.next_old*/
.out
.cache
.vercel
*.tmp
*.temp
*.tsbuildinfo

# Environment variables
.env
.env.*
!.env.example

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pids
*.pid
*.seed
*.pid.lock

# Coverage directory used by istanbul
coverage/
*.lcov*

# Grunt intermediate storage (https://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# Bower dependency directory (https://bower.io/)
bower_components

# node-waf configuration
.lock-wscript

# Compiled binary addons (https://nodejs.org/api/addons.html)
build/Release

# Dependency directories
jspm_packages/
/*.tgz

# TypeScript v1 declaration files
typings/
typings*/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional stylelint cache
.stylelintcache

# Microbundle cache
.rpt2_cache/
.rts2_cache_cs/
.rts2_cache_scss/
.rts2_cache_ts/

# Microbundle cache
.rpt2_cache/
.rts2_cache_cs/
.rts2_cache_scss/
.rts2_cache_ts/

# Storybook build outputs
.out
.storybook-out/

# tmp
tmp/

# Vercel
.vercel
.vercel
